body,html,p,ul,li,h1,h2,h3{padding: 0;margin: 0;}
body,html{
  height: 100%;
  font-size: 12px;
  font-family: Avenir Next,PingFang SC,Hiragino Sans GB,Droid Sans Fallback,Microsoft YaHei,sans-serif;
}
ul,li {list-style: none;}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.header{
  position: relative;
  width: 100%;
  height: 80%;
  text-align: center;
}
.header img.avatar{height: 10rem;width: 10rem;margin: 0 0 1.0rem 0;border-radius: 50%;}
.header h1{font-size: 2.6rem;font-weight: 900;padding: 0 0 1.0rem 0;}
.header h1 rt{font-weight: normal; color: #666;}
.header p{color: #969696;font-size: 14px;}

.photo > div, .footer {max-width: 500px; margin: 0 auto;padding: 0 1.0rem;}
.photo {padding-bottom: 2rem;}
.photo > div img{width: 100%; background-color: #868686; display: block;}
.photo > div p{color: #868686;background-color: #ececec; padding: 5px 8px; line-height: 18px;}
.photo > div h2{font-size: 24px;padding: 15px 0 10px 0;}
.photo > div h2 sup {font-weight: normal;font-size: 0.1rem;color: #868686;}

.footer {text-align: center;padding-bottom: 4rem;color: #868686;}
.footer a {color: #868686; text-decoration: none;}
.footer a:hover {text-decoration: underline;}